.navbar {
    background-color: gray;
    height: 120px;
}

.navList {
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

li .logo {
    width: 200px;
}

.flex-item {
    text-align: center;
    color: white;
    text-decoration: none;
}

.nav-anchor {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.slide {
    height: 500px;
}

.left {
    grid-column: 1/7;
    grid-row: 1/2;
    background-color: rgb(80, 79, 79);
}

.right {
    grid-column: 7/13;
    background-color: rgb(75, 74, 74);
}